@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Farmer Dashboard";
}

<h1>Farmer Dashboard</h1>
<p>Welcome, Farmer! This is your dashboard.</p>
<ul>
    <li><a href="#">View Crops</a></li>
    <li><a href="#">Manage Inventory</a></li>
    <li><a href="#">View Weather Updates</a></li>
</ul>
